
body{
  font-family:'Open Sans';
  text-align:center;
  color:#555;
  background-color:#FFF;
}

h1{
    font-family:'Open Sans';
    text-align:center;
    margin-top:1em;
    font-size:24pt;
    font-weight:300;
    text-transform: lowercase;
}

h3{
	text-align: center;
	font-family:'Open Sans';
	font-weight:300;
	text-transform: lowercase;
}

#txt1{
	font-size:1em;
	border-radius:5px;
	border:1px solid #E6E6E6;
	line-height:1.5em;
}

p{
  margin-bottom:3em;
  font-size:12pt;
  width:80%;
  text-align:center;
  margin:0px auto;
  font-family:'Open Sans';
}

ol{
	width:70%;
	margin:1em auto;
}

ol li{
	  font-family:'Open Sans';
	  text-align:left;
	  line-height: 1.2em;
	  padding-top:0.5em;
}

a{
	color:#448C61;
}

#erbox p{
	color:#CB4B16;
	margin-top:1em;
	margin-bottom:3em;
}


.fuzzy-search-wrapper {
  width: 400px;
  margin: 0 auto;
}

.fuzzy-search {
  padding: 6px;
}

.fuzzy-search input {
  width: 92%;
  border:2px solid #EEE;
  border-radius:3px;
  padding:5px 10px;
}

.fuzzy-search-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fuzzy-search-wrapper li {
  border-top: 1px solid #EEE;
  padding: 3px 10px;
  cursor: pointer;
  color: #666;
}

.fuzzy-search-wrapper li:hover {
  background: #D1FFE4;
}

.fuzzy-search-wrapper li:first-child {
  border-top: 0;
}

.fuzzy-search-wrapper li.selected {
  background: #D1FFE4;
}

.fuzzy-search-wrapper li em {
  text-decoration: underline;
  font-style: initial;
}